<h1 class="burger_baby">Burger Baby</h1>

<div id="image_container">
  <img src="/assets/img/burger.png" style="height: 150px;
    width: 150px;">
</div>

<div id="burger_container">
  <div id="unDevoured">
    <h3 id="saved_h3">Saved Burgers</h3>
      <ul>
        {{!-- <li id="textToHide">Enter a Burger!</li> --}}
        {{#each burgers}}
            {{#unless devoured}}
            <li># {{this.id}}</li>
            <li class="item_name">Burger: {{this.burger_name}}</li>
            <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour!</button>
            {{/unless}}
         
        {{/each}}
      </ul>
  </div>

  <div id="devoured">
    <h3 id="devoured_h3">Devoured Burgers</h3>
      <ul>
        {{#each burgers}}
            {{#if devoured}}
            <li># {{this.id}}</li>
            <li class="item_name">Burger: {{this.burger_name}}</li>
            {{/if}}
          
        {{/each}}
      </ul>
  </div>
</div>

<div id="submit_div">
  <form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
    <button type="submit" id="sub">Submit</button>
  </div>
</div>



