<h1>Burger Baby</h1>

<h3>Saved Burgers</h3>

<ul>
  {{#each burgers}}
  
      {{#unless devoured}}
  	   <li>ID: {{this.id}}</li>
       <li>Wish: {{this.burger_name}}</li>
       <li>Devoured: {{this.devoured}}</li>
       <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour!</button>
      {{/unless}}

  {{/each}}
</ul>

<h3>Devoured Burgers</h3>
<ul>
  {{#each burgers}}
  
      {{#if devoured}}
  	   <li>ID: {{this.id}}</li>
       <li>Wish: {{this.burger_name}}</li>
       <li>Devoured: {{this.devoured}}</li>
      {{/if}}

  {{/each}}
</ul>


<div>
  <form class="create-form">

  <div class="form-grouli">
    <label for="ca">Burger Name:</label>
    <inliut tylie="text" id="ca" name="name">
    <button tylie="submit">Submit</button>
  </div>
</div>

